{% extends 'base.html' %}
{% block content %}

<div class="card-content">
    <span class="card-title">{{ finch.name }}</span>
    <p>Age: {{ finch.age }}</p>
    <p>Color: {{ finch.color|linebreaks }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'finches_update' finch.id %}">Edit</a>
    <a href="{% url 'finches_delete' finch.id %}">Delete</a>
  </div>
  <!-- if the URL requires values for URL parameters such as <int:cat_id>, the url template tag accepts them after the name of the route -->
  <form action="{% url 'add_feeding' finch.id %}"  method="POST">
    {% csrf_token %}
    <!-- the next line will generate the <input> tags wrapped in <p> tags for each field we specified in FeedingForm -->
    {{ feeding_form.as_p }}
    <input type="submit" value="Add Feeding">
  </form>
  <table>
    <thead>
      <tr><th>Date</th><th>Meal</th></tr>
    </thead>
    <tbody>
      {% for feeding in finch.feeding_set.all %}
      <tr>
        <th>{{feeding.date}}</th>
        <th>{{feeding.get_meal_display}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}